:root,
[data-theme] {
    background-color: white;
    color: inherit
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
}

.purple {
    color: #565ADD;
}

.portfolio__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--thd-color-white);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: var(--thd-nav-h-sm);
    transition-duration: .5s;
    transition-property: box-shadow;
    z-index: 30;
}

.justify {
    text-align: justify;
}

.btn-circle {
    background-color: rgb(0 0 0 / 64%);
}

.h-80vh {
    height: 83vh;
}

.transparent-black {
    background-color: #000000ad;
}

.white {
    color: #efefef;
}

.text-12rem {
    font-size: 12rem;
}

.weight-900 {
    font-weight: 900;
}

.bg-blue-500.bg-purple {
    background-color: #565ADD;
}

.these-days-img{
    object-fit: cover;
    margin: auto;
    width: 100%;
}